.event-detail-wrap {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translate(0, -200%);
    overflow-y: auto;
    z-index: 150;
    background: rgba(255, 255, 255, 0.8);
}

.has-detail .event-detail-wrap {
    transform: translate(0, 0);
}

.has-detail .event-detail-inner-wrap {
    transform: translate(-50%, 0);
}

.event-detail-inner-wrap {
    position: absolute;
    top: 0;
    z-index: 150;
    left: 50%;
    overflow-y: auto;
    transform: translate(-50%, -200%);
    transition: all 250ms ease;
    max-width: 600px;
    width: 90%;
}

.event-detail-content-container {
    padding: 60px 0;
}

.event-detail-content-wrap {
    background: white;
    border: solid 1px #bcbcbc;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 20px 0;
}

.event-detail-content {
    padding: 0 20px;
}

.event-detail-inner-wrap.event-detail-wrap-positive .event-detail-content-wrap {
    /* background: #009BFF; */
    /* color: white; */
}

.event-detail-inner-wrap.event-detail-wrap-negative .event-detail-content-wrap {}

.event-detail-inner-wrap.event-detail-wrap-positive .event-detail-close-button, .event-detail-inner-wrap.event-detail-wrap-negative .event-detail-close-button {
    /* color: white; */
    /* border: solid 1px white; */
}

.event-detail-image {
    display: block;
    width: 100%;
    margin: auto;
}

.event-detail-background-wrap {
    bottom: 0;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    width: 100%;
}

.has-detail .event-detail-background-wrap {
    display: block;
    background: rgba(255, 255, 255, 0.8);
}

.header-image {
    width: 100%;
}

.event-detail-close-button {
    border: solid 1px #bcbcbc;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    /* position: absolute; */
    float: right;
    text-transform: uppercase;
    top: 20px;
}

.event-detail-sentiment-wrap {
    display: flex;
}

.event-detail-sentiment-button {
    color: white;
    cursor: pointer;
    display: inline-block;
    flex: none;
    margin: 0;
    text-align: center;
    width: 50%;
    padding: 20px;
    transition: width 250ms ease;
}

.event-detail-sentiment-button-logo {
    display: block;
    width: 90%;
    max-width: 150px;
    margin: 0 auto;
}

.event-detail-sentiment-button-positive {
    background: #009BFF;
}

.event-detail-sentiment-button-negative {
    background: #f27043;
}

.event-detail-inner-wrap.event-detail-wrap-positive .event-detail-sentiment-button-positive {
    width: 100%;
}

.event-detail-inner-wrap.event-detail-wrap-positive .event-detail-sentiment-button-negative {
    overflow: hidden;
    width: 0px;
    padding: 20px 0;
}

.event-detail-inner-wrap.event-detail-wrap-negative .event-detail-sentiment-button-negative {
    width: 100%;
}

.event-detail-inner-wrap.event-detail-wrap-negative .event-detail-sentiment-button-positive {
    overflow: hidden;
    width: 0px;
    padding: 20px 0;
}

.event-detail-sentiment-reset {
    cursor: pointer;
    text-align: center;
    padding: 10px 0;
    text-decoration: underline;
}

.event-detail-sharing-wrap {
    background: white;
    color: #3e3e3e;
    margin: 20px auto 0;
    max-height: 0;
    overflow: hidden;
    text-align: center;
    transition: max-height 250ms ease;
}

.event-detail-sharing-wrap.sharing-active {
    max-height: 120px;
    padding-bottom: 20px;
}

.event-detail-tag-wrap {
    display: flex;
    margin: 20px auto;
    text-align: center;
}

.event-detail-text {
    font-family: Georgia, serif;
    font-size: 16px;
    margin: 16px 0;
}

.event-detail-text a {
    color: #4ec4ff;
    text-decoration: none;
}
.event-detail-text a:hover,
.event-detail-text a:focus {
    text-decoration: underline;
}
.event-detail-tag {
    border-radius: 3px;
    border: solid 1px #bcbcbc;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.event-detail-inner-wrap.event-detail-wrap-negative .event-detail-tag, .event-detail-inner-wrap.event-detail-wrap-positive .event-detail-tag {
    background: white;
    color: #3e3e3e;
}

.event-detail-sub-head {
    font-weight: 400;
}

.event-detail-image-credit {
    font-size: 0.8em;
    opacity: 0.5;
    padding: 0 20px;
    margin: 7px 0 10px;
}