<div class="viz-wrapper" resize-monitor>
    <div class="header-wrap">
        <div class="header-text-wrap">
            <h1 class="header-title">Harvey <span class="header-line">Weinstein</span></h1>
            <h3 class="header-sub">Timeline of Hollywood success and hidden abuse</h3>
        </div>
        <img src="{{'assets/img/weinstein_hero_2.jpg' | assetPath}}" alt="" class="header-image header-image-large">
        <img src="{{'assets/img/weinstein_hero_small_2.jpg' | assetPath}}" alt="" class="header-image header-image-small">
    </div>
    <div class="viz-container">
        <div class="header-description">
            <p>Disgraced movie mogul Harvey Weinstein is America’s new face of sexual transgressions in the workplace, following in the shamed footprints of accused serial sexual assaulter Bill Cosby. Weinstein was ousted from his own company Sunday after ‘The New York Times’ uncovered at least eight settlements paid out by Weinstein for harassment over the past three decades. On Tuesday, an investigative report by ‘The New Yorker’ alleged incidents of sexual assault and rape. A chorus of women have come forward to condemn the producer and share stories of his sexual misconduct, including Angelina Jolie and Gwyneth Paltrow. Hillary Clinton, a friend of Weinstein, said on Twitter she was appalled. Here’s a look at his career and the harassment allegations leveled against him.</p>
            <div class="intro-key">
                <div class="intro-key-item"><span class="key-color dark"></span> Career highlights</div>
                <div class="intro-key-item"><span class="key-color light"></span> Harassment incidents</div>
            </div>
        </div>
    </div>
    <div class="viz-container">
        <timeline ascending></timeline>
    </div>
    <div class="viz-container credit-wrap">
        <p class="credit-line"><strong>Researched and written by: </strong>Jayme Deerwester and Andrea Mandell, USA TODAY</p>
        <p class="credit-line"><strong>Edited by: </strong>Sara Moniuszko, Gary Levin, Maria Puente and Kim Willis, USA TODAY</p>
        <p class="credit-line"><strong>Designed and developed by: </strong>Jim Sergent, Mitchell Thorson and Karl Gelles, USA TODAY</p>
    </div>
    <event-detail ng-class="{'has-detail': detail}" event="detail"></event-detail>
</div>
