/* time line styles */
.blue-background .event-item-wrapper {
    background: blue;
}
.red-background .event-item-wrapper {
    background: red;
}
.green-background .event-item-wrapper {
    background: green;
}
.yellow-background .event-item-wrapper {
    background: yellow;
}
dropdown {
    display: block;
    margin: 50px auto;
    max-width: 280px;
}
.header-title {
    text-align: center;
}