<div class="viz-wrapper" resize-monitor>
    <div class="viz-container">
        <h1 class="header-title">Harvey Weinstein: a timeline of Hollywood success, and hidden abuse</h1>
        <div class="header-description">
            <p>Intro chatter</p>
            <div class="intro-key">
                <div class="intro-key-item"><span class="key-color dark"></span> Career highlights</div>
                <div class="intro-key-item"><span class="key-color light"></span> Harassment incidents</div>
            </div>
        </div>
    </div>
    <div class="viz-container">
        <timeline ascending></timeline>
    </div>
    <event-detail ng-class="{'has-detail': detail}" event="detail"></event-detail>
</div>
