/* time line styles */
.blue-background .event-item-wrapper {
    background: blue;
}
.red-background .event-item-wrapper {
    background: red;
}
.green-background .event-item-wrapper {
    background: green;
}
.yellow-background .event-item-wrapper {
    background: yellow;
}
dropdown {
    display: block;
}
body.noscroll { 
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    overflow: auto;
}

.viz-wrapper {
    background: #f6f6f6;
    min-height: 100vh;
    overflow: auto;
}

.viz-container {
    position: relative;
    max-width: 1024px;
    margin: auto;
    padding: 0 15px;
}
.header-title {
    max-width: 800px;
    margin: 10px auto;
    font-size: 36px;
}

.header-description {margin: 40px auto;font-size: 1.3rem;max-width: 800px;}

.header-description > p {
    margin: 40px 0;
    font-family: Georgia, serif;
    line-height: 1.7;
}

.intro-key {
    display: flex;
}

.intro-key-item {
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: flex-start;
}

.key-color {
    width: 18px;
    height: 18px;
    border: solid 1px #bcbcbc;
    display: block;
    margin-right: 10px;
}

.key-color.dark {
    background: rgb(50,50,50);
}
.key-color.light {
    background: white;
}

.header-wrap {
    position: relative;
}

.header-text-wrap {
    max-width: 800px;
    margin: 0 auto;
    padding: 5%;
}

.header-sub {
    font-weight: 400;
    font-size: 18px;
}

.header-image-large {
    display: none;
}

@media(min-width: 800px) {
    .header-text-wrap {
        padding: 0;
        position: absolute;
        left: 40%;
        color: white;
        padding-right: 10%;
        top: 50%;
        transform: translate(0, -50%);
    }

    .header-title {
        font-size: 64px;
        text-transform: uppercase;
    }

    .header-sub {
        font-size: 28px;
    }

    .header-line {
        clear: both;
        display: inline-block;
        background: white;
        color: #3e3e3e;
        padding: 5px 10px;
    }

    .header-description > p {
        margin: 80px auto;
    }

    .header-image-large {
        display: block;
    }

    .header-image-small {
        display: none;
    }
}

