.timeline-container {
    position: relative;
    max-width: 1200px;
    margin: auto;
}
.timeline-line {
    background: #bcbcbc;
    position: absolute;
    top: 0;
    left: 22px;
    bottom: 0;
    width: 2px;
}
.events-list {
    padding: 30px 0;
    margin: 0;
}

.event-item {
    cursor: pointer;
    list-style-type: none;
    position: relative;
    margin: 30px 0;
}

/* arrow */
.event-item-wrapper {
    background: white;
    border-radius: 3px;
    border: solid 1px #bcbcbc;
    position: relative;
    bottom: 0;
    padding: 15px;
    /* background: #efefef; */
    margin-right: 20px;
    margin-left: 66px;
    max-width: 700px;
}
.event-item-wrapper.negative {
    background: #E82319;
    color:white
}
.event-item-wrapper.positive {
    background: #009BFF;
    color:white
}

/* event arrow */
.event-item-wrapper::before {
    content: '';
    position: absolute;
    top: 7px;
    width: 0;
    height: 0;
    border-style: solid;
    left: -12px;
    border-width: 8px 12px 8px 0;
    border-color: transparent #bcbcbc transparent transparent;
}

.event-item-wrapper.negative::before {
    border-color: transparent #E82319 transparent transparent;
}

.event-item-wrapper.positive::before {
    border-color: transparent #009BFF transparent transparent;
}

/* event dot */
.event-item-wrapper::after {
    content: '';
    position: absolute;
    left: -49px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #bcbcbc;
}

.event-item-image {
    max-width: 100%;
    margin: auto;
}

.event-item-footer {
    /* border-top: solid 1px #efefef; */
    margin-top: 20px;
}

.event-item-footer-arrow {
    display: block;
    margin: 0 auto;
    width: 20px;
}

time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

@media (min-width: 768px) {
    .timeline-line {
        left: 0;
        right: 0;
        margin: auto;
    }
    .event-item-wrapper {
        width: calc(50% - 60px);
    }
    /* left event */
    .event-item:nth-child(even) .event-item-wrapper {
        margin-left: 20px;
    }
    /* left event arrow */
    .event-item:nth-child(even) .event-item-wrapper::before {
        border-width: 8px 0 8px 12px;
        border-color: transparent transparent transparent #bcbcbc;
        left: inherit;
        right: -12px;
    }
    .event-item:nth-child(even) .event-item-wrapper.negative::before {
        border-color: transparent transparent transparent #E82319;
    }

    .event-item:nth-child(even) .event-item-wrapper.positive::before {
        border-color: transparent transparent transparent #009BFF;
    }
    /* right event dot */
    .event-item:nth-child(odd) .event-item-wrapper::after {
        left: -46px;
    }
    /* left event dot */
    .event-item:nth-child(even) .event-item-wrapper::after {
        left: inherit;
        right: -46px;
    }

    /* right event */
    .event-item:nth-child(odd) .event-item-wrapper {
        margin-left: calc(50% + 40px);
    }
}
