.timeline-container {
    position: relative;
    max-width: 1200px;
    margin: auto;
}
.timeline-line {
    background: #000;
    position: absolute;
    top: 0;
    left: 22px;
    bottom: 0;
    width: 8px;
}
.events-list {
    padding: 30px 0;
    margin: 0;
}

.event-item {
    list-style-type: none;
    position: relative;
    margin: 30px 0;
}

/* arrow */
.event-item-wrapper {
    position: relative;
    bottom: 0;
    padding: 15px;
    background: #efefef;
    margin-right: 20px;
    margin-left: 66px;
    max-width: 700px;
}

/* event arrow */
.event-item-wrapper::before {
    content: '';
    position: absolute;
    top: 7px;
    width: 0;
    height: 0;
    border-style: solid;
    left: -12px;
    border-width: 8px 12px 8px 0;
    border-color: transparent #000 transparent transparent;
}

/* event dot */
.event-item-wrapper::after {
    content: '';
    position: absolute;
    left: -50px;
    top: 5px;
    width: 21px;
    height: 20px;
    border-radius: 50%;
    background: #000;
}

.event-item-image {
    max-width: 100%;
    margin: auto;
}

time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

@media (min-width: 768px) {
    .timeline-line {
        left: 0;
        right: 0;
        margin: auto;
    }
    .event-item-wrapper {
        width: calc(50% - 60px);
    }
    /* left event */
    .event-item:nth-child(even) .event-item-wrapper {
        margin-left: 20px;
    }
    /* left event arrow */
    .event-item:nth-child(even) .event-item-wrapper::before {
        border-width: 8px 0 8px 12px;
        border-color: transparent transparent transparent #000;
        left: inherit;
        right: -12px;
    }
    /* left event dot */
    .event-item:nth-child(even) .event-item-wrapper::after {left: inherit;right: -50px;}
    /* right event */
    .event-item:nth-child(odd) .event-item-wrapper {
        margin-left: calc(50% + 40px);
    }
}