<div class="timeline-container">
    <div class="timeline-line"></div>
    <ul class="events-list">
        <li class="event-item" on-repeat-finish ng-repeat="event in events track by $index" ng-class="event.classes" track="event-click" ng-click="event_click(event)">
            <div class="event-item-wrapper {{event.category}}">
                <time>{{ event.date | date:'yyyy' }}</time>
                <div class="event-item-content">
                    <div class="event-item-title">{{ event.headline }}</div>
                    <div class="event-item-image" ng-if="event.image"><img src="{{'assets/img/events/' + event.image | assetPath}}" alt=""></div>
                    <div class="event-item-preview">{{ event.preview }}</div>
                    <div class="event-item-footer">
                        <img class="event-item-footer-arrow" src="{{'assets/img/arrow-down-grey.png' | assetPath }}" alt="open">
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
