<ul class="events-list">
    <li class="event-item" ng-repeat="event in events track by $index" ng-class="event.classes">
        <div class="event-item-wrapper">
            <time>{{ event.date | date:mediumDate }}</time>
            <div class="event-item-content" ng-bind-html="event.markup | safeHtml"></div>
            <div class="event-item-buttons">
                <div class="event-item-content" ng-bind-html="button.markup | safeHtml"  ng-repeat="button in event.buttons" ng-click="button_click(button, event)"></div>
            </div>
        </div>
    </li>
</ul>