<div class="dropdown no-select" ng-class="{'active': open}" off-click='open = false'>
    <div ng-click="open = !open" class="dropdown-button">
        <span class="active-option-label option-label">I am...</span>
    </div>
    <div class="dropdown-options">
        <h3 class="dropdown-text">Select groups you identify with</h3>
        <div class="dropdown-options-wrap">
            <div ng-repeat="option in options" class="dropdown-option-tag" ng-class="{'option-checked': option.checked}" ng-click="option_click(option)">
                {{ option.label }}
            </div>
        </div>
        <div class="dropdown-go-button" ng-click="open = false">Go</div>
    </div>
</div>
