.dropdown {
    position: relative;
    margin: 0 auto 40px;
    border-top: 1px dashed #bcbcbc;
    border-bottom: 1px dashed #bcbcbc;
}
.dropdown-text {
    line-height: 1em;
    margin: 0 0 17px;
    font-size: 1.2rem;
}
.dropdown-options {
    color: #263238;
    width: 100%;
    list-style: none;
    line-height: 26px;
    padding: 20px 0px;
}

.dropdown-options-list {
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
}

.dropdown-option {
    margin: 0;
    cursor: pointer;
    padding: 10px 16px;
    line-height: 22px;
    outline: none;
    text-align: left;
    font-size: 16px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.dropdown-option-tag {
    border: solid 1px #bcbcbc;
    border-radius: 3px;
    cursor: pointer;
    padding: 2px 7px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    background: #fff;
}

.dropdown-go-button {
    background: #009BFF;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    text-align: center;
    margin: 20px auto;
    padding: 5px;
    text-transform: uppercase;
    width: 60px;
}

.dropdown-option-tag.option-checked {
    background: #bcbcbc;
}

.dropdown-button,
.option-label {
    font-weight: bold;
    font-size: 1.5rem;
}
.option-content {
    line-height: 1.2em;
    font-size: 1rem;
    display: block;
    margin: 4px 0;
}